# Node / React
frontend/node_modules
frontend/dist

# Python / data
__pycache__
*.pyc
*.pyo
*.pyd
*.DS_Store
.env
.env.*

# Logs
logs/
*.log

# Notebook checkpoints
.ipynb_checkpoints

# OS
.DS_Store
